@import 'var';

.position-bottom {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.audioplayer .audioplayer-bar-played {
    position:absolute;
    left:0;
    top:-2px;
    width:0px;
    height:2px;
    background:#000;
    z-index:5;
    cursor:pointer;
}
.audioplayer .audioplayer-bar-played span{
    position:absolute;
    right:0;
    top:0;
    background:#000;
    width:6px;
    height:6px;
    margin-right:-3px;
    margin-top: -2px;
    -webkit-border-radius:99999px;
    -moz-border-radius:99999px;
    border-radius:99999px;
    z-index:15;
    cursor:pointer;
}
.audioplayer .audioplayer-bar-loaded {
    position:absolute;
    left:0;
    top:-2px;
    width:0px;
    height:2px;
    background:#f26532;
    cursor: pointer;
    z-index: 4;
}
.audioplayer .audioplayer-time {
    position:absolute;
    right: 0;
    top:-29px;
    color:#cacaca;
    font-size:14px;
    line-height:16px;
    letter-spacing: 0.3em;
}
.audioplayer .audioplayer-bar:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ccc;
}
.audioplayer .audioplayer-time.audioplayer-time-duration{
    left:auto;
    right:0;
    display: none;
}
.audioplayer .audioplayer-volume{
    display:none;
}
.audioplayer .audioplayer-playpause{
    position:absolute;
    left: 0;
    bottom: 0;
    width: 26px;
    height: 26px;
    cursor:pointer;
}
.audioplayer .audioplayer-playpause a{
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 26px;
    background: url(../img/ico-play.svg) no-repeat;
    background-size: 100% 100%;
    text-indent: -9999px;
}
.audioplayer.audioplayer-playing .audioplayer-playpause a {
    width: 10px;
    background-image: url(../img/ico-pause.svg);
}
.title {
    font-family: 'ProximaNovaRegularCond';
        font-size: .75vw;
        color: $clr4;
}

.title-music {
    color: $clr4;
    position: relative;
    z-index: 3;
    margin: 0 0 9px 65px;
    display: block;
    text-transform: uppercase;
    font-family: 'ProximaNovaRegularCond';
        font-size: .75vw;
}
.lightbox {
    width: 240px;
    height: 240px;
    padding: 40px;
    position: relative;
    margin: 0 auto;
    background: #000;
    display: none;
}
.btn-l-close {
    position: absolute;
    top: 0;
    right: -27px;
    text-indent: -9999px;
    background: url(../img/ico-close1.png) no-repeat 50% 50%;
    background-size: 100% 100%;
    color: #000;
    width: 17px;
    height: 17px;
}
.press-kit-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    color: #999;
}
.press-kit-list li {
    overflow: hidden;
}
.press-kit-list li + li {
    padding: 27px 0 0;
}
.press-kit-list .icon {
    float: left;
    width: 50px;
}
.press-kit-list .icon img {
    float: left;
}
.press-kit-list .description {
    overflow: hidden;
    padding: 3px 0 0;
}
.press-kit-list h2 {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 1px;
    color: #fff;
    letter-spacing: 0.4em;
}
.press-kit-list h2 a {
    color: #fff;
    text-decoration: none;
}
.press-kit-list h2 a:hover {
    text-decoration: underline;
}
.press-kit-list p {
    margin: 0;
    letter-spacing: 0.1em;
}
.contact-list {
    font-size: 16px;
    line-height: 24px;
    color: #999;
    margin: -2px 0 -6px;
    padding: 0;
    list-style: none;
    position: relative;
}
.contact-list li {
    width: 100%;
}
.contact-list li + li {
    padding: 32px 0 0;
}
.contact-list h2 {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 18px;
    color: #fff;
    letter-spacing: 0.4em;
}
.contact-list p {
    margin: 0;
}
.container-holder {
    width: 100%;
}
.has-contact .btn-has-contact {
    background: #000;
    color: #fff;
    cursor: default;
}
.has-press-kit .btn-has-press-kit {
    background: #fff;
    color: #000;
    cursor: default;
}
.has-contact .content-container .c-frame {
    height: 320px;
}
.audiojs {
  width: auto;
  margin: 0 40px 0 30px;
  padding: 0 35px 0 35px;
  height: 2px;
  background: transparent;
  overflow: visible;
  font-family: monospace;
  background-image: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  position: relative;
}
.audiojs .time {
  float: left;
  line-height: 0;
  margin: 0;
  padding: 0;
  border-left: none;
  color: #cacaca;
  text-shadow: none;
  height: 0;
  font-family: 'ProximaNovaRegularCond';
  font-size: .75vw;
  text-indent: -9999px
}
.audiojs .time .played {
    position: absolute;
    right: 35px;
    top: -24px;
    text-indent: 0;
    font-family: 'ProximaNovaRegularCond';
    font-size: .75vw;
    line-height: 16px;
    color: $clr4 !important;
    text-shadow: none;
    padding: 0;
}
.audiojs .scrubber {
  position: relative;
  float: none;
  width: auto;
  background: #5a5a5a;
  height: 14px;
  margin: 10px;
  border: none;
  border-left: 0px;
  border-bottom: 0px;
  overflow: hidden;
}
.audiojs .play-pause {
    position: absolute;
    bottom: 0;
    padding: 0;
    height: 1.35vw;
    border: none;
    left: -30px;
    width: 30px;
}
.audiojs .scrubber {
  position: relative;
  float: none;
  width: auto;
  background: #ccc;
  height: 2px;
  margin: 0;
  border: none;
  border-left: 0px;
  border-bottom: 0px;
  overflow: hidden;
}
.audiojs .loading,
.audiojs .pause,
.audiojs .play {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1vw;
    height: 1.35vw;
    background: url(../img/ico-play.svg) no-repeat;
    background-size: 100% 100%;
    text-indent: -9999px;
    border: none;
}
.audiojs .pause {
    width: 10px;
    background-image: url(../img/ico-pause.svg);
}
.audiojs.playing .loading {
    width: 10px;
    background-image: url(../img/ico-pause.svg);
}
.audiojs .progress {
    height: 2px;
    background: $clr2;
}
.audiojs .loaded {
    height: 2px;
    background: $clr4;
    cursor: pointer;
}
.btn-music-list {
    position: absolute;
    top: 4px;
    right: 0;
    background: url(../img/playlist.svg) no-repeat;
    width: 26px;
    height: 21px;
    text-indent: -9999px;
    overflow: hidden;
    z-index: 5;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
}
.btn-music-list.select {
    transform: rotate(180deg);
}
.index99 {
    z-index: 99;
}
.drop-music-list {
    position: absolute;
    top: -40px;
    left: -99999px;
    bottom: -40px;
    z-index: 98;
    background: #fff;
}
.drop-music-list .close-drop-music {
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    background: url(../img/none.gif);
    margin-right: -9999px;
    padding-right: 9999px;
}
/*.has-music-list .drop-music-list {
    right: 0;
    left: -40px;
}*/
.has-music-list .box-content.right {
    z-index: 0;
}
.drop-music-list .music-list-slyder {
    position: absolute;
    bottom: 100px;
    left: 70px;
    right: 80px;
}
.list-music {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}
.list-music li {
    width: 95%;
}
.list-music li + li {
    margin: 33px 0 0;
}
.list-music a {
    text-decoration: none;
    display: block;
    width: 95%;
    padding: 0 0 9px;
    margin-left: 35px;
    border-bottom: 2px solid #ccc;
}
.list-music a:after {
    content: '';
    clear: both;
    display: block;
}
.list-music .playing a {
    border-color: $clr1;
}
.list-music .time-track {
    text-indent: 0;
    position: relative;
    font-family: 'ProximaNovaRegularCond';
    font-size: .75vw;
    line-height: 16px;
    color: $clr4;
    float: right;
}
.music-sly {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
}
.music-list-slyder .scrollbar {
    position: absolute;
    right: -9999px;
    top: 0;
    width: 2px;
    height: 100%;
    cursor: pointer;
}
.music-list-slyder.has-sly .scrollbar {
    right: -42px;
}
.music-list-slyder .handle {
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    background: #000;
}








/* ******************* PLAY ANIMATION SVG ********************* */

$max: 50px;

.equilizer {
  height: $max;
  width: $max;
  transform: rotate(180deg);
}

.bar {
  fill: DeepPink;
  width: 10px;
  animation: equalize 1.25s steps(25, end) 0s infinite;
}

.bar:nth-child(1) { 
  animation-duration: 1.9s;
}

.bar:nth-child(2) { 
  animation-duration: 2s;
}

.bar:nth-child(3) { 
  animation-duration: 2.3s;
}

.bar:nth-child(4) { 
  animation-duration: 2.4s;
}

.bar:nth-child(5) { 
  animation-duration: 2.1s;
}

@keyframes equalize {
  0% {
    height: 60px;
  }
  4% {
    height: 50px;
  }
  8% {
    height: 40px;
  }
  12% {
    height: 30px;
  }
  16% {
    height: 20px;
  }
  20% {
    height: 30px;
  }
  24% {
    height: 40px;
  }
  28% {
    height: 10px;
  }
  32% {
    height: 40px;
  }
  36% {
    height: 60px;
  }
  40% {
    height: 20px;
  }
  44% {
    height: 40px;
  }
  48% {
    height: 70px;
  }
  52% {
    height: 30px;
  }
  56% {
    height: 10px;
  }
  60% {
    height: 30px;
  }
  64% {
    height: 50px;
  }
  68% {
    height: 60px;
  }
  72% {
    height: 70px;
  }
  76% {
    height: 80px;
  }
  80% {
    height: 70px;
  }
  84% {
    height: 60px;
  }
  88% {
    height: 50px;
  }
  92% {
    height: 60px;
  }
  96% {
    height: 70px;
  }
  100% {
    height: 80px;
  }
}